<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/content/css/maicons.css">
    <link rel="stylesheet" href="~/content/css/bootstrap.css">
   
    <link rel="stylesheet" href="~/Content/css/theme.css">
  
    
</head>
<body>
    <!-- Main Content -->
    <div class="main-content">
        <header>
            <h2>Dashboard</h2>
            <div class="user-info">
                <span>Welcome, Admin</span>
                <a href="profile.html">Profile</a>
            </div>
        </header>

        <div class="dashboard-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total Products</h5>
                            <p class="card-text">150</p>
                            <a href="~/Home/pharmacy" class="btn btn-primary">Manage</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total Doctors</h5>
                            <p class="card-text">25</p>
                            <a href="~/Home/ManageDoctors" class="btn btn-primary">Manage</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total Appointments</h5>
                            <p class="card-text">200</p>
                            <a href="appointments.html" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="mt-5">Latest News</h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card-blog">
                        <div class="header">
                            <a href="blog-details.html" class="post-thumb">
                                <img src="~/content/img/testimonial-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="body">
                            <h5 class="post-title"><a href="~/Home/Contact">Recent Updates on Health Guidelines</a></h5>
                            <p>Published 2 days ago</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-blog">
                        <div class="header">
                            <a href="blog-details.html" class="post-thumb">
                                <img src="~/content/img/testimonial-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="body">
                            <h5 class="post-title"><a href="blog-details.html">New Clinic Openings</a></h5>
                            <p>Published 1 week ago</p>
                        </div>
                    </div>
                </div>
                
                        
    <script src="~/Content/js/"></script>
    <script src="~/content/js/bootstrap.bundle.min.js"></script>
    <script src="~/content/vendor/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="~/content/vendor/wow/wow.min.js"></script>
    <script src="~/content/js/theme.js"></script>
</body>
</html>
